<div class="content">
    <div class="container">
        <section class="content-one">
           <p class="text-center black">Почему выбирают нас?</p>
            <div class="activity lg8 md8 sm8">
               <div class="activity-line lg2 md2 sm4">
                    <span class="icon icon-phonegirl"></span>
                    <p class="text">Вы отправляете нам заявку, мы свяжемся с Вами в ближайшее время</p>
                </div>
                <div class="activity-line lg2 md2 sm4">
                    <span class="icon icon-bag-big"></span>
                    <p class="text">Быстро подбираем Вам качественный товар и высылаем в кратчайшие сроки</p>
                </div>
                <div class="activity-line lg2 md2 sm4">
                    <span class="icon icon-handbag-big"></span>
                    <p class="text">Получаете посылку на почте и проверяете работоспособность товара</p>
                </div>
                <div class="activity-line lg2 md2 sm4">
                    <span class="icon icon-twohand-big"></span>
                    <p class="text">Если Вас все устраивает, мы выставляем вам счет на оплату наших услуг</p>
                </div>
            </div>
        </section>
    </div>
    <section class="content-second">
            <!--#insert file="content-form/-content-form.html"-->
    </section>
</div>