<div class="content-form">
    <div class="container">
        <p class="text-center">Почему выбирают нас?</p>
        <p class="text-center second">Узнайте о других специальных предложениях и <span class="action">акциях</span> нашей комапнии</p>
            <form>
                <input type="text" placeholder="Ваше Имя">
                <input type="tel" placeholder="Ваш номер телефона">
                <input type="email" placeholder="Ваш E-mail">
                <button class="sent">Отправить</button>
            </form>
    </div>
</div>