<div class="footer">
    <div class="container">
        <div class="footer-contacts">
            <p class="main-text">Контактная Информация</p>           
            <div class="footer-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d20298.068966863913!2d30.4631746!3d50.5107546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1491940896661" width="500" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="footer-text">
                <p class="big">Наш Адрес</p>
                <p class="small">ул. Садовая, 14А, офис 416</p>
                <hr>
                <p class="big">Электронная почта</p>
                <p class="small action">exsample@exsample.com</p>
                <hr>
                <p class="big">Телефон</p>
                <p class="small action">8 800 555 5555</p>
                <hr>
                <p class="big">Обратный звонок</p>
                <button class="">Заказать</button>
            </div>
        </div>
        
    </div>
</div>
<div class="footer-last">
    <div class="container">
        <p class="text">Ваша компания 2014-2016</p>
    </div>
</div>