<div class="feedback">
    <div class="container">
        <p class="item black">Отзывы</p>
        <div class="feedback-block">
            <div class="feedback-block-header-one">
                <span class="icon icon-shahter-big"></span>
                <div class="presentation">
                    <p class="text-center who black">Михаил Липнинский</p>
                    <p class="from">Ответственный по технике безопасности ООО "Северо-сталь"</p>
                    <p class="when">17.08.2015</p>
                </div>                
            </div>
            <div class="response">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem aspernatur vel fugiat facere minus consequuntur dolores velit, possimus, laudantium aut debitis, dolorem error officia labore nostrum quos odit deserunt mollitia.
                Quasi, similique sapiente illo repellendus, suscipit dolorum quis ipsum maxime inventore reiciendis aut nihil dolore omnis voluptate? Illum veniam iure voluptatem fuga eius repellat nemo minus laudantium expedita laboriosam. Accusamus.</p>
            </div>
        </div>
        <div class="feedback-block">
            <div class="feedback-block-header-second">
                <span class="icon icon-shahter-big"></span>
                <div class="presentation">
                    <p class="text-center who black">Михаил Липнинский</p>
                    <p class="from">Ответственный по технике безопасности ООО "Северо-сталь"</p>
                    <p class="when">17.08.2015</p>
                </div>                
            </div>
            <div class="response">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem aspernatur vel fugiat facere minus consequuntur dolores velit, possimus, laudantium aut debitis, dolorem error officia labore nostrum quos odit deserunt mollitia.
                Quasi, similique sapiente illo repellendus, suscipit dolorum quis ipsum maxime inventore reiciendis aut nihil dolore omnis voluptate? Illum veniam iure voluptatem fuga eius repellat nemo minus laudantium expedita laboriosam. Accusamus.</p>
            </div>
        </div>
    </div>
</div>