<div class="banner">
    <div class="container">
        <div class="main">
            <div class="main-visual">
                <img src="img/banner_main.png" alt="Bulldozers">
            </div>
            <form class="form">
               <div class="phonetext">
                    <p class="text-center first">Отправьте заявку</p>
                    <p class="text-center second">На бесплатный расчет Вашего заказа</p>
                </div>
                <div class="phoneform">
                    <input type="text" placeholder="Ваше Имя">
                    <input type="tel" placeholder="Ваш номер телефона">
                    <button class="sent">Отправить</button>
                </div>
            </form>
            <div class="proposition lg6 md8 sm8">
                <div class="anounce lg4 md4 sm8">
                    <p class="text-center action first">Акция</p>
                    <p class="text-center second">До конца осталось</p>
                </div>
                <div class="account lg4 md4 sm8">
                    <div class="account-group">
                        <div class="account-group-small"></div>
                        <div class="account-group-small"></div>
                        <span class="text-center">дней</span>
                    </div>
                    <div class="account-group">
                        <div class="account-group-small"></div>
                        <div class="account-group-small"></div>
                        <span class="text-center">часов</span>
                    </div>
                    <div class="account-group">
                        <div class="account-group-small"></div>
                        <div class="account-group-small"></div>
                        <span class="text-center">минут</span>
                    </div>
                    <div class="account-group">
                        <div class="account-group-small"></div>
                        <div class="account-group-small"></div>
                        <span class="text-center">секунд</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>