<div class="header">
   <div class="container">
        <div class="header-logo lg3 md2">
            <img src="img/logo.png" alt="BULLDOZER">
        </div>
        <div class="lg2 md4 sm8">
            <button class="registration">Оставить заявку</button>
        </div>
        <div class="header-callback">
            <div class="icon"><span class="icon-phone"></span></div><!--           --><div class="text"><p class="underline">Заказать звонок</p>
            <p class="action phone">8 800 123 45 56</p></div>
        </div>
    </div>
</div>
<div class="header-sales">
    <!--#insert file="../header/header_sales/-header-sales.html"-->
</div>